/* all components */

.gutter-row {
  margin-left: 0 !important;
}

.setText-form {
    border: 1px solid #3a3636;
    border-radius: 4px;
    padding: 5px;
}

.setText-entered-text {
  margin-top: 20px;
}

.setText-entered-text .ant-form-item-label {
  padding-right: 20px;
}

.setText-entered-text-input {
  background-color: grey;
  color: red;
  border: 0;
}

.setText-divider {
  margin-bottom: 15px;
  background-color: grey;
}

.setText-background-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.setText-background-image-container {
    margin-bottom: 15px;
    width: 100%;
    height: 200px;
}

/* TODO: remove after check */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
